<template data-controller-name="view.HomePage" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="HOME" data-nav-button-text="Back" data-icon="" data-show-footer="false" id="homePage">
		<div data-sap-ui-type="sap.apb.makit.Chart" data-data-source="" data-height="300px" data-metadata-file="view/SalesAnalysis.mameta" data-width="300px" id="Chart1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A300px%3Bheight%3A300px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A10px%3Btop%3A70px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>